#research-grants .section {
    position: relative;
    margin-bottom: 100px;
}

#research-grants .section h3 {
    margin-top: -8px;
}

#seminars img {
    width: calc(50% - 50px);
    margin-right: 80px;
    margin-bottom: 20px;
}

#research-grants img {
    width: calc(100% + 2px);
    height: var(--mobile-image-height)
}

#seminars h2,
#beta-bit h2,
#software h2,
#papers h2 {
    grid-column: span 2;
}
#papers h2 {
    grid-column: span 2;
}
#books h2 {
    grid-column: span 2;
}

#trainings div img,
#beta-bit div img,
#software div img,
#research-grants div img,
#papers div img {
    width: 100%;
    height: 225px;
    margin-bottom: 30px;
    object-fit: cover;
    object-position: top;
}
#papers div img {
    width: 100%;
    height: 225px;
    margin-bottom: 30px;
    object-fit: cover;
    object-position: top;
}
#books div img {
    width: 100%;
    height: 225px;
    margin-bottom: 30px;
    object-fit: cover;
    object-position: top;
}

@media (max-width: 600px) {
    #seminars div img,
    #trainings div img,
    #beta-bit div img,
    #software div img,
    #research-grants div img,
    #papers div img  {
        width: calc(100% + 2px);

    }
}
@media (min-width: 768px) and (max-width: 899px) {
    #beta-bit > *,
    #software > *,
    #papers > * {
        /*margin-right: 60px;*/
    }
}

#seminars div p,
#beta-bit div p,
#software div p,
#papers div p {
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 16px;
}
#papers div p {
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 16px;
}
#books div p {
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 16px;
}

#trainings div img,
#beta-bit div i,
#software div i,
#papers div i {
    font-size: 13px;
}

#trainings div img,
#beta-bit div.software img,
#software div.software img,
#papers div.software img {
    margin-bottom: 0;
}

#trainings div img,
#beta-bit div.software p,
#software div.software p,
#papers div.software p {
    font-size: 20px;
}

@media (min-width: 600px) and (max-width: 899px) {
    #trainings div img,
    #beta-bit div img,
    #software div img,
    #research-grants div img,
    #papers div img  {
        display: flex;
        flex-direction: column;
        width: calc(50vw - var(--mobile-margins));
    }

    .book .book-body .page-wrapper .page-inner section.normal #research-grants h4 {
        margin: 10px 0 30px;
    }
}

@media (min-width: 768px) and (max-width: 899px) {
    #research-grants .section h3 {
        margin-top: 0;
        position: absolute;
        left: 50%;
    }

    #research-grants .figure img {
        margin-bottom: 10px;
    }
    #research-grants .figure .caption {
        display: none;
    }
}

@media (min-width: 899px) and (max-width: 1300px) {
    #research-grants br {
        display: block;
        margin: 20px;
        height: 50px;
        content: ''
    }
}

@media (max-width: 768px) {
    #research-grants .section h3 {
        margin-top: calc(var(--mobile-image-height) + 20px);
        position: absolute;
    }
}
@media (max-width: 899px) {
    #research-grants br {
        display: none;
    }

    #research-grants .section.level4 {
        display: flex;
        flex-direction: column;
    }
    #research-grants .section.level4 > * {
        order: 3
    }

    #research-grants .section.level4 > *:nth-child(1) {
        order: 2
    }

    #research-grants .section.level4 > *:nth-child(2) {
        order: 1
    }
}

@media (min-width: 900px) {
    .book .book-body .page-wrapper .page-inner section.normal #research-grants h4  {
        max-width: 50%;
        margin-left: 50%;
        margin-top: 70px;
        position: absolute !important;
    }
}
@media (min-width: 900px) {
    #trainings img,
    #research-grants img {
        width: 400px;
        height: 200px;
        max-width: calc(50% - 50px);
    }

    #research-grants h3,
    #research-grants h4,
    #research-grants p {
        margin-right: 50px;
    }

    #research-grants .section h3 {
        margin-top: 0;
        max-width: 50%;
        margin-left: 50%;
        position: absolute !important;
    }
}

#research-grants h4 {
    margin-top: 10px;
    margin-bottom: 20px;
}
@media (min-width: 600px) and (max-width: 767px) {
    #research-grants h4 {
        margin-top: 0px;
        margin-bottom: 40px;
    }
}
