/*.book .book-summary {*/
/*    border: none*/
/*}*/
.book .book-summary .divider {
    display: none;
}
.book .book-summary ul.summary {
    padding: var(--padding-m)
}

.book .book-header.fixed {
    border-bottom: none;
}
.book-header.fixed .btn[title=Search] {
    position: relative;
    left: -55px;
    top: 40px;
}
.book-header.fixed .btn:not([title=Search]) {
    display: none;
    pointer-events: none;
}
.book-header.fixed .btn:not([title=Search]) {
    display: none;
}
