@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,200;0,300;0,400;0,500;1,300&display=swap');

/*Extralight (h1):*/
h1 {
    font-family: 'IBM Plex Mono', monospace;
    font-weight: 200;
    font-style: normal;
}
/*Light (większość):*/
* {
    font-family: 'IBM Plex Mono', monospace;
    font-weight: 300;
    font-style: normal;
}
/*Light italic:*/
/*font-family: 'IBM Plex Mono', monospace;*/
/*font-weight: 300;*/
/*font-style: italic;*/
/*Regular (Menu):*/
.summary a {
    font-family: IBM Plex Mono, monospace;
    font-weight: 400 !important;
    font-size: 13px;
    line-height: 18px;
}
/*Medium (do boldów w body i nagłówkach):*/
.book-body strong,
.book-body b {
    font-family: 'IBM Plex Mono', monospace;
    font-weight: 500;
    font-style: normal;
}

/*Medium Italic (do bold italic w body i nagłówkach)*/
.book-body em {
    font-family: 'IBM Plex Mono', monospace;
    font-weight: 500;
    font-style: italic;
}


/*=========================================*/
h1,
.book .book-body .page-wrapper .page-inner section.normal h1,
.book .book-body .page-wrapper .page-inner section.normal h2 {
    font-size: 87px;
    line-height: 60px;
    letter-spacing: -0.05em;
}
.section {
    position: relative;
}

.section.level1 > p {
    font-weight: 300;
    font-size: 20px;
    line-height: 36px;
    letter-spacing: -0.03em;
}

h4,
.book .book-body .page-wrapper .page-inner section.normal h4 {
    text-transform: uppercase;
    margin-top: 100px;
    margin-bottom: 50px;
    font-size: 20px;
    line-height: 32px;
    letter-spacing: 0.2em;
    text-transform: uppercase;
}

h4:after {
    content: "";
    width: 40px;
    height: 2px;
    background-color: black;
    position: absolute;
    top: 40px;
    left: 0;
}
