.book .book-body.fixed,
.book .book-body.fixed .body-inner,
.book .book-body .page-wrapper,
.book .book-body .page-wrapper .page-inner section.normal {
    overflow: visible;
}

#the-team #members,
#the-team #collaborators {
    margin-top: 60px;
}

@media (min-width: 900px) {
    #the-team #members,
    #the-team #collaborators {
        margin-top: 50%;
    }
}

@media (min-width: 1300px) {
    #the-team #members,
    #the-team #collaborators {
        margin-top: 350px;
    }
}

#team-cover-img {
    position: absolute;
    background-image: url("../images/mi2_2021.jpg");
    background-size: contain;
    height: 300px;
    width: calc(100vw - var(--menu-width));
    background-repeat: no-repeat;
    max-height: calc((100vw - 40px) * 120 / 436);
}

#the-team > *:nth-child(1) {
    grid-area: title 1 / 1 / 1 / 3
}

#the-team > *:nth-child(2) img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#the-team > *:nth-child(2) {
    margin-right: calc(-1 * (100vw - 600px) / 2);
    grid-area: image 2 / 1 / 2 / 3
}

#the-team ul {
    padding-left: 0;
}

#the-team ul li {
    list-style: none;
    margin-bottom: 17px;
}

#the-team ul li:before {
    display: none;
}

#the-team [id] {
    margin-right: 50px;
}

#przemysław-biecek,
#hubert-baniecki {
    margin-top: 100px;
}

#przemysław-biecek:before {
    grid-column: span 2;
    content: '';
    width: 225px;
    height:2px;
    background-color: black;
    position: relative;
    left: calc(100% + 50px - 225px/2);
}

#the-team [id] h3  {
    margin-top: 100px;
    font-size: 20px;
    line-height: 32px;
    letter-spacing: -0.03em;
}

#the-team .section.level3 {
    display: flex;
    flex-direction: column;
}

#the-team .section.level3 img {
    width: 225px;
    height: 225px;
    border:1px solid black;
    margin-right: 20px;
    object-fit:cover ;
}

@media (min-width: 768px) {
    #the-team div[id=trainees] h4,
    #the-team div[id=alumni] h4 {
        margin-top: 80px !important;
    }

    #the-team [id]:nth-child(2n + 10):not([id=hubert-baniecki]) {
        margin-top: -300px;
    }
}


@media (min-width: 768px) and (max-width: 899px) {
    #team-cover-img {
        width: calc(100vw - 40px);
        height: calc((100vw - 40px) * 120 / 436);
        position: relative;
    }
    #the-team [id] {
        margin-right: unset;
        padding-right: 40px;
    }
    #the-team h4 {
        margin-top: 0;
    }

    #the-team h4:after {
        top: 40px;
    }
    #the-team div[id=trainees] h4,
    #the-team div[id=alumni] h4 {
        margin-top: 40px !important;
    }
}
@media (max-width: 767px) {
    .book .book-body .page-wrapper .page-inner section.normal #the-team h4 {
        margin-top: 60px;
    }

    #team-cover-img {
        width: 100%;
    }

    #przemysław-biecek:before {
        grid-column: span 2;
        content: '';
        width: 168px;
        height:2px;
        background-color: black;
        position: relative;
        left: calc(50% - 168px/2);
    }

    #the-team [id] {
        margin-right: 0px;
    }

    #team-cover-img {
        position: unset;
        height:120px;
    }

    #the-team h4:after {
        top: 40px;
    }

    #the-team div[id=trainees] h4:after,
    #the-team div[id=alumni] h4:after {
        top: 40px;
    }

    #the-team [id]:not([id=przemysław-biecek]) h3 {
        margin-top: 60px;
    }

    #hubert-baniecki {
        margin-top: 0px;
    }

    #the-team .section.level3 img {
        width: 50%;
        height: calc(50vw - var(--mobile-margins));
        margin-left: -1px;
    }
}

.team-page .book .book-body.fixed .body-inner {
    overflow-x: hidden;
}
